
### Flights Delayes analysis

The data was gathered from the Buerue of Transportation Statistics 
The data set includes data from 2009 to 2021. The data set includes the following information:
* Date
* Airports
* Carrier Name
* Flights Arrival
* Different reasons for delays for the flight

Questions:
* What is the major cause of flight delays, if any?
* Did the number of flights taken increase over the years?

In [53]:
import numpy as np
import pandas as pd

In [54]:
# Import the flight delay csv file
flights_csv = pd.read_csv('airline_delay_causes.csv', sep=',')
data = [row for row in flights_csv]
flights_csv.head(25)

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
0,2009,11,AS,Alaska Airlines Inc.,BRW,"Barrow, AK: Wiley Post/Will Rogers Memorial",65.0,14.0,3.61,1.06,...,6.19,0.0,1.0,920.0,592.0,34.0,78.0,0.0,216.0,NaN
1,2009,11,AS,Alaska Airlines Inc.,BUR,"Burbank, CA: Bob Hope",85.0,5.0,1.00,0.00,...,0.98,0.0,0.0,134.0,25.0,0.0,70.0,0.0,39.0,NaN
2,2009,11,AS,Alaska Airlines Inc.,CDV,"Cordova, AK: Merle K Mudhole Smith",58.0,8.0,2.04,1.00,...,2.96,4.0,2.0,586.0,174.0,37.0,62.0,0.0,313.0,NaN
3,2009,11,AS,Alaska Airlines Inc.,DCA,"Washington, DC: Ronald Reagan Washington National",88.0,11.0,1.99,0.00,...,0.00,0.0,0.0,266.0,65.0,0.0,201.0,0.0,0.0,NaN
4,2009,11,AS,Alaska Airlines Inc.,DEN,"Denver, CO: Denver International",123.0,5.0,3.47,0.00,...,0.00,0.0,0.0,81.0,57.0,0.0,24.0,0.0,0.0,NaN
5,2009,11,AS,Alaska Airlines Inc.,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",66.0,6.0,1.28,0.69,...,0.00,0.0,0.0,176.0,64.0,11.0,101.0,0.0,0.0,NaN
6,2009,11,AS,Alaska Airlines Inc.,EWR,"Newark, NJ: Newark Liberty International",59.0,10.0,0.24,0.00,...,0.56,0.0,0.0,553.0,8.0,0.0,526.0,0.0,19.0,NaN
7,2009,11,AS,Alaska Airlines Inc.,FAI,"Fairbanks, AK: Fairbanks International",299.0,41.0,18.35,1.82,...,8.70,2.0,0.0,1910.0,707.0,114.0,386.0,0.0,703.0,NaN
8,2009,11,AS,Alaska Airlines Inc.,GEG,"Spokane, WA: Spokane International",86.0,0.0,0.00,0.00,...,0.00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
9,2009,11,AS,Alaska Airlines Inc.,HNL,"Honolulu, HI: Daniel K Inouye International",85.0,18.0,1.34,1.46,...,0.00,0.0,0.0,547.0,85.0,89.0,373.0,0.0,0.0,NaN
10,2009,11,AS,Alaska Airlines Inc.,IAH,"Houston, TX: George Bush Intercontinental/Houston",30.0,0.0,0.00,0.00,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
11,2009,11,AS,Alaska Airlines Inc.,JNU,"Juneau, AK: Juneau International",296.0,40.0,9.90,5.19,...,11.76,4.0,4.0,2396.0,487.0,640.0,428.0,0.0,841.0,NaN
12,2009,11,AS,Alaska Airlines Inc.,KOA,"Kona, HI: Ellison Onizuka Kona International a...",39.0,9.0,1.81,0.00,...,0.00,0.0,0.0,312.0,109.0,0.0,203.0,0.0,0.0,NaN
13,2009,11,AS,Alaska Airlines Inc.,KTN,"Ketchikan, AK: Ketchikan International",176.0,28.0,6.86,1.98,...,11.42,3.0,2.0,1733.0,384.0,226.0,243.0,0.0,880.0,NaN
14,2009,11,AS,Alaska Airlines Inc.,LAS,"Las Vegas, NV: McCarran International",283.0,20.0,10.39,0.00,...,5.16,0.0,0.0,978.0,721.0,0.0,113.0,0.0,144.0,NaN
15,2009,11,AS,Alaska Airlines Inc.,LAX,"Los Angeles, CA: Los Angeles International",469.0,37.0,11.64,0.00,...,0.95,0.0,0.0,1099.0,450.0,0.0,542.0,35.0,72.0,NaN
16,2009,11,AS,Alaska Airlines Inc.,LGB,"Long Beach, CA: Long Beach Airport",13.0,2.0,0.93,0.00,...,0.00,0.0,0.0,61.0,40.0,0.0,21.0,0.0,0.0,NaN
17,2009,11,AS,Alaska Airlines Inc.,LIH,"Lihue, HI: Lihue Airport",30.0,9.0,1.60,0.27,...,0.00,0.0,1.0,254.0,54.0,15.0,185.0,0.0,0.0,NaN
18,2009,11,AS,Alaska Airlines Inc.,MCO,"Orlando, FL: Orlando International",59.0,5.0,0.78,0.29,...,0.00,0.0,0.0,104.0,21.0,9.0,74.0,0.0,0.0,NaN
19,2009,11,AS,Alaska Airlines Inc.,MIA,"Miami, FL: Miami International",30.0,5.0,0.00,0.00,...,0.00,0.0,0.0,104.0,0.0,0.0,104.0,0.0,0.0,NaN
20,2009,11,AS,Alaska Airlines Inc.,MSP,"Minneapolis, MN: Minneapolis-St Paul Internati...",60.0,5.0,2.78,0.54,...,0.00,0.0,0.0,211.0,149.0,20.0,42.0,0.0,0.0,NaN
21,2009,11,AS,Alaska Airlines Inc.,OAK,"Oakland, CA: Metropolitan Oakland International",166.0,10.0,4.94,0.00,...,1.06,1.0,0.0,321.0,177.0,0.0,84.0,0.0,60.0,NaN
22,2009,11,AS,Alaska Airlines Inc.,OGG,"Kahului, HI: Kahului Airport",87.0,25.0,2.94,0.00,...,0.97,0.0,0.0,923.0,157.0,0.0,533.0,0.0,233.0,NaN
23,2009,11,AS,Alaska Airlines Inc.,OME,"Nome, AK: Nome Airport",87.0,9.0,3.36,0.00,...,2.03,3.0,2.0,253.0,115.0,0.0,88.0,0.0,50.0,NaN
24,2009,11,AS,Alaska Airlines Inc.,ONT,"Ontario, CA: Ontario International",85.0,5.0,2.00,0.00,...,0.53,0.0,0.0,121.0,67.0,0.0,44.0,0.0,10.0,NaN

In [55]:
# Get a rough understanding the data set
flights_csv.describe()

,year,month,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
count,312623.000000,312623.000000,312139.000000,311910.000000,312139.000000,312139.000000,312139.000000,312139.000000,312139.000000,312139.000000,312139.000000,312139.000000,312139.000000,312139.000000,312139.000000,312139.000000,312139.000000,0.0
mean,2012.246585,6.572197,382.506188,72.954064,20.900901,2.629526,24.151743,0.177285,25.041144,7.141360,0.871170,4204.209935,1272.384681,221.150721,1106.559741,7.140530,1596.971945,NaN
std,5.530480,3.445215,1028.276514,199.280229,47.185094,9.999853,85.569160,0.842577,75.496488,37.148506,3.934991,12524.056745,3464.838929,861.623728,4666.729409,38.723489,4932.144645,NaN
min,2003.000000,1.000000,1.000000,0.000000,0.000000,0.000000,-0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-19.000000,0.000000,0.000000,NaN
25%,2007.000000,4.000000,59.000000,9.000000,3.020000,0.000000,1.740000,0.000000,1.660000,0.000000,0.000000,439.000000,149.000000,0.000000,58.000000,0.000000,80.000000,NaN
50%,2012.000000,7.000000,120.000000,23.000000,8.210000,0.590000,5.580000,0.000000,5.940000,1.000000,0.000000,1208.000000,437.000000,25.000000,206.000000,0.000000,355.000000,NaN
75%,2018.000000,10.000000,274.000000,56.000000,19.610000,2.020000,15.470000,0.000000,17.110000,4.000000,1.000000,3083.000000,1094.000000,160.000000,606.000000,0.000000,1114.000000,NaN
max,2021.000000,12.000000,21977.000000,6377.000000,1792.070000,717.940000,4091.270000,80.560000,1885.470000,4951.000000,256.000000,433687.000000,196944.000000,57707.000000,238440.000000,3760.000000,148181.000000,NaN

In [56]:
# Print the array of columns and the index array
# pd.array(flights_csv)
print(flights_csv.columns)

Index(['year', ' month', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'arr_flights', 'arr_del15', 'carrier_ct', ' weather_ct', 'nas_ct',
       'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted',
       ' arr_delay', ' carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'Unnamed: 21'],
      dtype='object')

In [57]:
# pd.pivot_table(flights_csv)
flights_csv = pd.pivot_table(flights_csv, values = "arr_del15" , index = ["carrier_ct"], columns = ["arr_flights"])
flights_csv

/tmp/ipykernel_57429/2806781534.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  flights_csv = pd.pivot_table(flights_csv, values = "airport_name" , index = ["carrier_ct"], columns = ["arr_flights"])

Empty DataFrame
Columns: []
Index: [0.0, 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1, 0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2, 0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3, 0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4, 0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5, 0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6, 0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7, 0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8, 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9, 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, ...]

[18084 rows x 0 columns]

In [52]:
pd.DataFrame(data=flights_csv[1:,1:], index=data[1:,0], columns=data[0,1])

InvalidIndexError: (slice(1, None, None), slice(1, None, None))